<%- include ../includehead/doctype %>
<head>
    <%- include ../includehead/head %>
    <!--<link rel="stylesheet" href="<%= staticPath %>/css/styles/global.css">-->
</head>

<body>





<div class="text-center">
    <div class="error-404">
        <img src="<%= staticPath %>/css/images/errors/error404.png"/>
        <p>对不起，您访问的页面不见了...</p>
        <a id="goBack" href="<%= siteUrl %>" class="btn btn-primary btn-customer">返回</a>
    </div>
</div>







<%- include ../includehead/bottomscript %>


<script type="text/javascript">
//    var goBack = document.getElementById('goBack');
//    goBack.onclick = function(event){
//        var event = event || window.event;
//        if( document.referrer ){
//            window.location.href = document.referrer;
//            event.preventDefault();
//            event.stopPropagation();
//        }
//    };
</script>

</body>
</html>

