<%- include ../includehead/doctype %>
<head>
    <%- include ../includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/global.css">
</head>

<body>

<%- include ../layout/header %>

<div class="text-center">
    <div class="error-404">
        <img src="<%= staticPath %>/images/error/error400.png"/>
        <p>对不起，您输入的参数有错误 <%- url %></p>
        <a id="goBack" href="<%= sitepage %>" class="btn btn-primary btn-customer">返回</a>
    </div>
</div>





<%- include ../layout/footer %>

<%- include ../includehead/bottomscript %>



</body>
</html>

