<div id="paymentFooter">
    <div class="footerInfo">
        <ul class="footerInfo-fl">
            <li><a href="<%= sitepage %>/aboutUs">关于易煤</a></li>
            <li><a href="<%= sitepage %>/teach/register">新手指导</a></li>
            <!--<li><a href="#">合作伙伴</a></li>-->
            <li><a href="<%= sitepage %>/teach/friendlylink">友情链接</a></li>
            <li class="noborder"><a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODA0MTkwOV8yOTk2ODhfNDAwOTYwMTE4MF8yXw" target="_blank">联系我们</a></li>
        </ul>
        <p>© 2015 易煤网 All rights reserved&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;和略电子商务(上海)有限公司 ｜ 沪ICP备14052754号</p>
        <p class="szfw-wrap">
            <a href="https://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&amp;entyId=1atr5hendjiu232trv8vb6qred7d9yn01mg1nbic8l4vjp1q8m" target="_blank" rel="nofollow">
                <img src="<%= staticPath %>/images/footer/shgs.png" height="31" width="90">
            </a>
            &nbsp;
            <a id="___szfw_logo___" href="https://credit.szfw.org/CX20150831011158100383.html" target="_blank" rel="nofollow">
                <img src="<%= staticPath %>/images/footer/cxwz.png" height="31" width="90">
            </a>
        </p>
    </div>
</div>