
    <!--<meta charset="UTF-8">-->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> <!-- 优先使用 IE 最新版本和 Chrome -->
    <meta name="renderer" content="webkit"> <!--360浏览器就会在读取到这个标签后，立即切换对应的内核。并将这个行为应用于这个二级域名下所有网址。-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <title><%= page.title %></title>
    <!-- dev css:assets -->
    <!-- base: normalize,color -->

    <link rel="stylesheet" href="<%= staticPath %>/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="<%= staticPath %>/styles/global.css">-->


    <!-- HTMLshiv for IE -->
    <!--[if lte IE 9]>
    <script src="<%= staticPath %>/node_modules/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->
    <link type="image/x-icon" rel="shortcut icon" href="<%= staticPath %>/images/favicon.ico" />

    <meta name="keywords" content="易煤网">
    <meta name="description" content="易煤网">

    <meta name="csrf-token" content="<%= csrfToken %>">
